@use '../../../theme' as theme;

:host {
    display: grid;
    padding: theme.$density-normal;
}

.spinner-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.header-attend {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: theme.$density-large;
}

.not-found {
    display: flex;
    align-items: center;
    gap: theme.$density-normal;
}

.warn-text {
    color: theme.mat-color(theme.$warn-palette, text);

    > .mat-icon {
        color: theme.mat-color(theme.$warn-palette);
    }
}
