@use './../../../theme' as theme;

:host {
    display: grid;
}

.spinner-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.not-found {
    display: flex;
    align-items: center;
    gap: theme.$density-normal;
}

.result-score {
    display: flex;
    gap: theme.$density-large;
}

.warn-text {
    color: theme.mat-color(theme.$warn-palette, text);

    > .mat-icon {
        color: theme.mat-color(theme.$warn-palette);
    }
}

.option-content {
    display: flex;
    align-items: center;
    gap: theme.$density-small;
    color: theme.mat-color(theme.$foreground-palette, text);
}

.option-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: theme.$density-normal;
}

.positive {
    color: theme.mat-color(theme.$primary-palette);
}

.neutral {
    color: theme.mat-color(theme.$foreground-palette, secondary-text);
}

.negative {
    color: theme.mat-color(theme.$warn-palette);
}
